
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'enregistrement d'un nouveau livre</title>
    <style>
        /* Corps de la page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        /* Titre du formulaire */
        h1 {
            text-align: center;
            color: #333;
        }

      
    </style>
</head>
<body>
    <h1> Accueil</h1>
   
      
   
</body>
</html>
