
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <style>
        /* Corps de la page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        /* Titre du formulaire */
        h1 {
            text-align: center;
            color: #333;
        }

      
    </style>
</head>
<body>
    <h1> Accueil</h1>

           <p>Pour accéder à la page consultation des livres <a href='./consultation_livre/'>ici</a></p>
           <p>Pour accéder à la page enregistrement d'un livre <a href='./enregistrer_livre'>ici</a></p>
  <p>Pour accéder à la page Suppression d'un livre <a href='./supprimer_livre'>ici</a></p>
<p>Pour accéder à la page rechercher un livre <a href='./recherche_livre'>ici</a></p>
    
</br>
    
  <p>Pour accéder à la page consultation des utilisateurs <a href='./consultation_utilisateur/'>ici</a></p>
           <p>Pour accéder à la page enregistrement d'un utilisateur <a href='./enregistrer_utilisateur'>ici</a></p>
  <p>Pour accéder à la page Suppression d'un utilisateur <a href='./supprimer_utilisateur'>ici</a></p>
<p>Pour accéder à la page rechercher un utilisateur <a href='./recherche_utilisateur'>ici</a></p>    
   
</body>
</html>
